* { box-sizing: border-box; margin: 0; padding: 0; }
a {
    color: white;
  font-weight: bold;
    text-decoration: none;
  }
.container {
    width: 100%;
  height: 100%;
    max-width: 500px;
    margin: 0 auto;
  -webkit-perspective:5600px;
  -moz-perspective:5600px;
  perspective:5600px;
}

#carousel {
    width: 50%;
  height: 80%; display: block;
  left: 25%; bottom: 10%;
    position: absolute;
    transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
    transition: transform 1s ease-out;

}
#carousel figure {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: opacity 5s, background-color 1s;
    filter: grayscale(1);

}
#carousel figure:hover {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: opacity 5s, background-color 1s;
    filter: grayscale(0);
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
#carousel figure img {
    width: 90%;
  margin: 5%;
    height: auto;
    -webkit-box-shadow: 0px 27px 62px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 27px 62px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 27px 62px 0px rgba(0,0,0,0.5);
  border-radius: 0.2em;
}


.little-text-block {
  width: 80%;
  background-color: rgb(87,123,234);
  margin: 0 auto;
  bottom: 30%;
  left: 10%;
  width: 80%;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  position: absolute;
}
h3 {
  padding: 1em;
  background-color: #3c3c3c;
}
h4 {
  padding: 1em;
  background-color: #3c3c3c;
}
.navigation-control {
  display: block;
  color: red;
  background-color: blue;
}