@keyframes scan {
from {
transform: rotate(0deg) translateY(calc(var(--path-radius) * -1)) rotate(0deg);
}

to {
transform: rotate(360deg) translateY(calc(var(--path-radius) * -1)) rotate(-360deg);
}
}

h1 {
font-size:100px;
color: #5a8a9c;
}

h2 {
font-size:50px;
color: #5a8a9c;
}
h3 {
font-size:30px;
color: #5a8a9c;
}
@media only screen and (max-width: 768px) {
h2 {
font-size:40px;
color: #5a8a9c;
}

h3 {
font-size:25px;
color: #5a8a9c;
}

}

btx  h1 {
animation: text-flicker 2s linear forwards;
}

btx .first {
animation: letter-flicker 3s linear infinite;
}
btx  h2 {
animation: text-flicker 2s linear forwards;
font-family: 'Monoton', ;

}
btx  h3 {
animation: text-flicker 2s linear forwards;
}


@keyframes text-flicker {
2% { 
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
3% {
color: #5a8a9c;
text-shadow: none;
}
6% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
9% {
color: #5a8a9c;
text-shadow: none;
}
11% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
14% {
color: #5a8a9c;
text-shadow: none;
}
18% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
32% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
33% {
color: #5a8a9c;
text-shadow: none;
}
37% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
39% {
color: #5a8a9c;
text-shadow: none;
}
43% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
46% {
color: #5a8a9c;
text-shadow: none;
}
47% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
100% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
}

@keyframes letter-flicker {
2% { 
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
3% {
color: #5a8a9c;
text-shadow: none;
}
6% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
9% {
color: #5a8a9c;
text-shadow: none;
}
11% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
14% {
color: #5a8a9c;
text-shadow: none;
}
18% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
32% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
33% {
color: #5a8a9c;
text-shadow: none;
}
37% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
39% {
color: #5a8a9c;
text-shadow: none;
}
40% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
100% {
color: #70d9ff;
text-shadow: 0 0 15px #70d9ff;
}
}

